/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*
    CSS Reset End
*/

.theme {
  display: flex;
  justify-content: right;
  padding-right: 20px;
  align-self: flex-end;
}

.wrapper {
  padding-top: 1.5rem;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.calculator {
  width: 33%;
  min-width: 25rem;
  height: 100%;
  min-height: 30rem;
  border-radius: 20px;
  background-color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.display {
  width: 100%;
  height: 20%;
  background-color: aquamarine;
  margin-top: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: end;
  justify-content: center;
}

.input {
  width: 100%;
  height: 70%;
  padding: 5px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 23%;
  cursor: pointer;
}

.button,
.display {
  font: bolder 1.5rem Arial;
}

.numberBtn,
.modifyBtn {
  background-color: hsl(0, 5%, 75%);
}

.operationBtn,
.controlBtn {
  background-color: hsl(30, 5%, 50%);
}

.equalBtn {
  background-color: hsl(43, 50%, 49%);
}

body.dark {
  background-color: #1a1d1e;
  color: #fffdfa;
}

.dark .display {
  background-color: #008d6a;
}

.dark .numberBtn,
.dark .modifyBtn {
  background-color: #42484b;
}

.dark .operationBtn,
.dark .controlBtn {
  background-color: #6a7277;
}

.dark .equalBtn {
  background-color: #a58637;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 10px;
  margin-top: 50px;
  gap: 5px;
  font-size: larger;
  font-weight: bolder;
  background-color: hsl(0, 5%, 75%);
  text-decoration: none;
}

.dark .footer {
  background-color: black;
}

.hidden {
  display: none;
}

.icon {
  padding: 5px;
}

.icon:hover {
  animation: grow 300ms forwards;
  transition: ease-in-out;
}

@keyframes grow {
  100% {
    transform: scale(1.3, 1.3) rotateY(360deg);
  }
}
